winbin/liberica-17.0.6 filter=lfs diff=lfs merge=lfs -text
winbin/maven filter=lfs diff=lfs merge=lfs -text
winbin/naps2-7.3.0-win filter=lfs diff=lfs merge=lfs -text
resources/morena7.jar filter=lfs diff=lfs merge=lfs -text
resources/install-depends.sh filter=lfs diff=lfs merge=lfs -text
resources/install-jar.bat filter=lfs diff=lfs merge=lfs -text
resources/javafx-sdk-20 filter=lfs diff=lfs merge=lfs -text
resources/morena_license.jar filter=lfs diff=lfs merge=lfs -text
resources/morena_license.jrr filter=lfs diff=lfs merge=lfs -text
resources/osi-jakarta-34.jar filter=lfs diff=lfs merge=lfs -text
resources/osiscan-1.9.jar filter=lfs diff=lfs merge=lfs -text
resources/install-depends-unix.sh filter=lfs diff=lfs merge=lfs -text
resources/install-new-osi.sh filter=lfs diff=lfs merge=lfs -text
resources/morena71.jar filter=lfs diff=lfs merge=lfs -text
resources/osi-jakarta-30.jar filter=lfs diff=lfs merge=lfs -text
resources/osi-jakarta-31.jar filter=lfs diff=lfs merge=lfs -text
resources/install-new-osi.bat filter=lfs diff=lfs merge=lfs -text
resources/morena7_launcher.jar filter=lfs diff=lfs merge=lfs -text
resources/morena7_osx.jar filter=lfs diff=lfs merge=lfs -text
resources/osi-jakarta-32.jar filter=lfs diff=lfs merge=lfs -text
resources/osi-jakarta-33.jar filter=lfs diff=lfs merge=lfs -text
resources/morena7_component.jnlp filter=lfs diff=lfs merge=lfs -text
resources/morena7_win.jar filter=lfs diff=lfs merge=lfs -text
bin/maven filter=lfs diff=lfs merge=lfs -text
bin/powershell filter=lfs diff=lfs merge=lfs -text
bin/liberica-17.0.6 filter=lfs diff=lfs merge=lfs -text
bin/liberica-17.0.6/lib/modules filter=lfs diff=lfs merge=lfs -text
bin/liberica-17.0.6/bin/jfxwebkit.dll filter=lfs diff=lfs merge=lfs -text
bin/powershell/SC235001.exe filter=lfs diff=lfs merge=lfs -text
resources/javafx-sdk-20/bin/jfxwebkit.dll filter=lfs diff=lfs merge=lfs -text
bin/liberica-17.0.6/lib/src.zip filter=lfs diff=lfs merge=lfs -text
winbin/liberica-17.0.6/bin/jfxwebkit.dll filter=lfs diff=lfs merge=lfs -text
wintesseract/libtesseract-5.dll filter=lfs diff=lfs merge=lfs -text
winbin/liberica-17.0.6/lib/modules filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*/modules filter=lfs diff=lfs merge=lfs -text
